* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .logo-responsive{
    display: flex;
    justify-content: center;
  }
  .logo-responsive a img, .logo a img{
    width:130px;
  }
  .div-accordion-container{
    margin: 0;
    background-color: #f1f0f0;
  }

  .main-container{
    background-color: rgb(199, 220, 199);
  }
  .quiz {
    text-decoration: none;
    color: black;
    margin-left: 1em;
    font-size: 1.2em;
  }

  .accordion-container {
    display: flex;
    flex-direction: column;
    margin: 0.5em 2em 0 2em;
  }
  #player{
    top: 2em;
    right: 2em;
    position: fixed;
    /* background-color: rgb(163, 158, 150); */
    background-position: 50%;
    background-image: url(png/5.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0.5em;
    box-shadow: 0 1em 1em rgb(95, 95, 95),0 0 1em rgb(0, 0, 0);
  }
  .accordion {
    float: left;
    background-color: rgba(5, 131, 5, 0.208);
    cursor: pointer;
    padding: 1em;
    width: 22em;
    text-align: left;
    font-size: 1em;
    transition: 0.4s;
    border-radius: 0.5em;
    z-index: 10000000;
    margin-top:20px;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border: none;
  }
  
  .active, .accordion:hover {
    background-color: white; 
  }

  .panel {
    display: none;
    font-size: 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .main-container {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
  }
  
  .container-button ul li {
    list-style: none;
  }
  .container-button button {
    border: none;
    background-color: transparent;
    margin: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.2em;
    font-size: 1.2em;
  }
  .hoverColor{
    animation: hoverCover;
    animation-iteration-count: 1;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
  }
  @keyframes hoverCover{
    0%{
        background-color: rgb(0, 97, 0);
    }
    100%{
        background-color: rgb(222, 229, 222);
    }
  }

  @media (max-width:1600px){
    #player{
        margin-right: 0em;
      }
  }

