* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

header{
  top: 0;
  z-index: 10000000;
  position: sticky;
}
  /* Start - responsive navbar */
  .navbar-div-responsive{
    display: block;
  }
  .navbar-container-responsive{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  .nav-info-responsive{
    transform: translateX(-100%);
    transition: 300ms;
  }
  .nav-info-responsive ul{
    text-align: left;
    background-color: white;
    position: absolute;
    top: 7.6em;
    padding: 3em 0em;
    width: 100%;
    border-top: #e7e7e7 solid 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
  }
  .navbar-div-responsive .nav-info-responsive ul li{
    padding-bottom: 1em;
    padding-left: 5em;
  }
  .navbar-div-responsive .nav-info-responsive ul li,
  .navbar-container-responsive .log-info-responsive ul li{
    list-style: none;
    font-size: 1.2em;
  }
  .navbar-div-responsive .nav-info-responsive ul li a,
.navbar-container-responsive .log-info-responsive ul li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  filter:brightness(125%);
  letter-spacing: 0.8px;
  transition: 100ms;
}
.navbar-div-responsive .nav-info-responsive ul li a:hover,
.navbar-div-responsive .log-info-responsive ul li a:hover {
  text-decoration: underline;
}
.navbar-container-responsive-div{
  width: 5em;
}
.burger-menu-close{
  display: none;
}
  /* End - responsive navbar */

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
}
.navbar-container .logo {
  padding:  1.5em;
  filter: brightness(80%);
  border-radius: 50%;
}
.navbar-container .logo img{
  transform: scale(1.5);
}
.logo-responsive a img, .logo a img{
  width:121.5px;
}
.navbar-container .nav-info ul{
  display: flex;
  gap: 3em;
}
.navbar-container .nav-info ul li,
.navbar-container .log-info ul li{
  list-style: none;
  font-size: 1.2em;
}
.navbar-container .nav-info ul li a,
.navbar-container .log-info ul li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  filter:brightness(125%);
  /* text-shadow: 2px 1px 4px rgba(33, 33, 33, 0.84); */
  letter-spacing: 0.8px;
  transition: 100ms;
}
.navbar-container .log-info ul li a{
  padding-right: 1em;
}
.navbar-container .nav-info ul li a:hover,
.navbar-container .log-info ul li a:hover {
  filter:brightness(95%);
  text-decoration: underline;
}
/* header end */


/* course card start */


#more {
  display: none;
}


.course-about {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(172, 172, 172);
  background-color: rgb(172, 172, 172);
  padding-bottom: 2em;
  padding-top: 3em;
}

.course-text {
  width: 50%;
  text-align:justify;
  margin-left: 50px;
  color: white;
} 

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 200px;
}

.img-container .lecture {
  width: 20em;
  font-size: 15px;
  text-align: center;
  border-top: 5px solid rgb(219, 219, 219);
  border-bottom: 5px solid rgb(219, 219, 219);
  padding-top: 1em;
  padding-bottom: 1em;
}
 



.fullwrap img { width: 100%; }
.fullwrap {
  max-width: 300px;
  position: relative; 
}
 
/* (B) POSITION CAPTION */
.fullcap {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  text-align: center;
  color: white;
  background-color: rgba(174, 174, 174, 0.7);
  display: flex; justify-content: center; align-items: center;
  border-radius: 20px;
}
 
/* (C) ONLY SHOW CAPTION ON HOVER */
.fullcap {
  visibility: none; opacity: 0;
  transition: opacity 0.5s;
}
.fullwrap:hover .fullcap {
  visibility: visible; opacity: 1;
}


/* read more section */
.text-container {
  max-width: 100%;
  padding: 10px;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

#myBtn {
  border: none;
  background-color: #ffaf55;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  transition: 0.2s;
}

#myBtn:hover {
  color: white;
  background-color: #eba24e;
}


.course-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}
.course-card {
  max-width: 320px;
  margin: 10px;
  width: 100%;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.course-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  filter: brightness(90%);
}



.course-card .content {
  padding: 15px;
}


.course-card h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.course-card p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}
.button-start {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(219, 219, 219);
  color: #fff;
  text-align: center;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-start a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  list-style: none;
}


.button-start:hover {
  background-color: #a7a7a7;
}

.button-start a:hover {
  color: white;
} 


/* Start - footer */

footer {
  margin-top: 200px;
}

.footer-clean {
  display: flex;
  justify-content: center;
  padding:50px 0;
  background-color:#e4e4e4;
  color:#000000;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
}
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:18px;
    color: black;
  }
  .footer-clean ul {
    list-style:none;
    line-height:1.6;
    font-size:16px;
    color: black;
    position: relative;
    right: 31px;
  }
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    margin-right: 100px;
  }
  .footer-clean ul a:hover {
    opacity:1;
  }
  .footer-clean .item.social {
    text-align:right;
  }
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
  }
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    color: black;
  }
  .footer-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(70%);
  }
  
  
  
  
  /* End - footer */
  
    @media (max-width:1700px) {
      .navbar-container .logo img{
        transform: scale(1.4);
      }
      .navbar-container .nav-info ul{
        gap: 2em;
      }
      .navbar-container .nav-info ul li{
        font-size: 1.1em;
      }
      .navbar-container .nav-info ul li a,
      .navbar-container .log-info ul li a{
        letter-spacing: 0.8px;
      }
    }
    @media (max-width:1400px) {
      .navbar-container .logo img{
        transform: scale(1.3);
      }
      .navbar-container .nav-info ul{
        gap: 1em;
      }
      .navbar-container .nav-info ul li{
        font-size: 1em;
      }
      .navbar-container .nav-info ul li a,
      .navbar-container .log-info ul li a{
        letter-spacing: 0.4px;
      }
    } 
    @media (max-width:1100px) {
      .navbar-container .logo img{
        transform: scale(1.2);
      }
      .navbar-container .nav-info ul{
        gap: 0.8em;
      }
      .navbar-container .nav-info ul li{
        font-size: 1em;
      }
      .navbar-container .nav-info ul li a,
      .navbar-container .log-info ul li a{
        letter-spacing: 0.2px;
      }
    }
    @media (max-width:992px) {
      .navbar-container-responsive{
        justify-content: space-between;
      }
      .burger-menu-open,
      .burger-menu-close{
        margin-left: 1em;
      }
      .log-info-responsive{
        margin-right: 1em;
      }
      .navbar-div{
        display: none;
      }
      .footer-clean .item.social > a {
        margin-top:40px;
      }
    }
  
    @media (max-width:767px) {
      .footer-clean .item {
        text-align:center;
        padding-bottom:20px;
      }
      .footer-clean .item.social > a {
        margin-top:10px;
      }
      .footer-clean .item.social {
        text-align:center;
      }
    }
    @media (min-width:993px) {
  
    .navbar-div-responsive{
      display: none;
    }
  }

/* Media query for cards */
@media (max-width: 768px) {
  .course-card {
    max-width: 100%;
  }
}
  

@media (max-width: 1290px) {
  .course-text h2 {
    font-size: 19px;
}
.course-text p {
  font-size: 15px;
}
}

@media (max-width: 1090px) {

  .course-text h2 {
    font-size: 16px;
}
.course-text p {
  font-size: 13px;
}
}


@media (max-width: 768px) {

  .course-text h2 {
    font-size: 16px;
}
.course-text p {
  font-size: 11px;
}
}

@media (max-width: 600px) {

  .course-text h2 {
    font-size: 16px;
}
.course-text p {
  font-size: 2px;
}
}





@media screen and (max-width: 600px) {
  /* Adjust font size or margins for smaller screens */
  .course-text h2 {
      font-size: 12px;
  }
  .course-text p {
    font-size: 18px;
  }
}