/* * @font-face {
  font-family: ;
  src: url(fonts/KaterinaAlt-Bold.ttf);
}  */





/*  
ხალხო, 
რესპონსივის media query წერეთ კოდის ბოლოში.
რო გჭირდებათ ვერც თქვენ გებულობთ რა წერია
და მეც ტყუილად მახარჯვინებთ დროს 
იმის წერაში და ძებნაში რაც უკვე არის ან საერთოდ არ უნდა იყოს 
;დ 
პატივისცემით ლ.გ
*/





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

header{
  top: 0;
  z-index: 10000000;
  position: sticky;
}
  /* Start - responsive navbar */
  .navbar-div-responsive{
    display: block;
  }
  .navbar-container-responsive{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  .nav-info-responsive{
    transform: translateX(-100%);
    transition: 300ms;
  }
  .nav-info-responsive ul{
    text-align: left;
    background-color: white;
    position: absolute;
    top: 7.6em;
    padding: 3em 0em;
    width: 100%;
    border-top: #e7e7e7 solid 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
  }
  .navbar-div-responsive .nav-info-responsive ul li{
    padding-bottom: 1em;
    padding-left: 5em;
  }
  .navbar-div-responsive .nav-info-responsive ul li,
  .navbar-container-responsive .log-info-responsive ul li{
    list-style: none;
    font-size: 1.2em;
  }
  .navbar-div-responsive .nav-info-responsive ul li a,
.navbar-container-responsive .log-info-responsive ul li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  filter:brightness(125%);
  letter-spacing: 0.8px;
  transition: 100ms;
}
.navbar-div-responsive .nav-info-responsive ul li a:hover,
.navbar-div-responsive .log-info-responsive ul li a:hover {
  text-decoration: underline;
}
.navbar-container-responsive-div{
  width: 5em;
}
.burger-menu-close{
  display: none;
}
  /* End - responsive navbar */

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
}
.navbar-container .logo {
  padding:  1.5em;
  filter: brightness(80%);
  border-radius: 50%;
}
.navbar-container .logo img{
  transform: scale(1.5);
}
.logo-responsive a img, .logo a img{
  width:100px;
}
.navbar-container .nav-info ul{
  display: flex;
  gap: 3em;
}
.navbar-container .nav-info ul li,
.navbar-container .log-info ul li{
  list-style: none;
  font-size: 1.2em;
}
.navbar-container .nav-info ul li a,
.navbar-container .log-info ul li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  filter:brightness(125%);
  /* text-shadow: 2px 1px 4px rgba(33, 33, 33, 0.84); */
  letter-spacing: 0.8px;
  transition: 100ms;
}
.navbar-container .log-info ul li a{
  padding-right: 1em;
}
.navbar-container .nav-info ul li a:hover,
.navbar-container .log-info ul li a:hover {
  filter:brightness(95%);
  text-decoration: underline;
}
/* End - navbar */


/* Start - log in form */
    
    
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
 
.log-info p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.log-info span {
  font-size: 12px;
}
.log-info a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
button {
  border-radius: 20px;
  border: solid 1px #484f52;
  background-color: #484f52;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
button:active {
  transform: scale(0.95);
}
button:focus {
  outline: none;
}
button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}
form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin-top: 8px;
  width: 100%;
}
.form-container input{
margin: 10px;
}
.container {
 top: 190px;
 background-color: #ffffff;
 border-radius: 10px;
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
 0 10px 10px rgba(0,0,0,0.22);
 position: relative;
 overflow: hidden;
 height: 500px;
 width: 768px;
 max-width: 100%;
 min-height: 380px;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  border: none;
  background: #0b33b5;
  background: -webkit-linear-gradient(to right, #858585, #86888e);
  background: linear-gradient(to right, #525252, #6c7072);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
    transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
/* End - Log in form */



/* pop-up */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#myBtn {
  background-color: #ffffff;
  border: none;
  color: #000000;
}

/* end popup */




/* Start - carousel */
.main-carousel {
  position: relative;
}
.carousel {
  width: 100%;
  height: 800px;
}
.items {
  width: 100%;
  transition: filter 0.5s ease;
  filter: grayscale(80%);
}
.items:hover {
  filter: grayscale(10%);
}
.carousel-image {
  width: 100%;
  height: 800px;
    object-fit: cover;
  position: absolute;
  opacity: 0;
  filter: brightness(50%);
  transition: filter 0.3s ease;
}
.current {
  opacity: 1;
} 
.buttons a{
  text-decoration: none;
}
.buttons #prevBtn,
.buttons #nextBtn {
  height: 35px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  opacity: 0.7;
  position: absolute;
  transform: scale(3);
  }
.buttons #prevBtn:hover,
.buttons #nextBtn:hover {
  opacity: 1;
}
  
.buttons #prevBtn {
  top: 50%;
  left: 5%;
}
.buttons #nextBtn {
    top: 50%;
    right: 5%;
}
  .nav-dots {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.dot {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  z-index: 0; 
  }
.active {
  opacity: 1;
}


.wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
  overflow: hidden;
  width: 37.5ch;
  white-space: nowrap;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
  
@keyframes typing {
  from {
    width: 0
  }
}
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
/* searchbar */

.search{
display: flex;
justify-content: center;
}

.input-box {
  position: relative;
  height: 76px;
  max-width: 900px;
  width: 100%;
  background: #fff;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}


.goal {
  font-weight: bold;
  font-size: 2em;
}
.art {
  color: #ffaf55;
  font-weight: bold;
}
.mission-section {
  background-color: #f1f0f0;
  padding: 2rem 0;
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}
.mission-section .mission-text p{
  font-size: 1.2rem;
  color: black;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Start - partners */
.partniorship-container {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  margin: 50px;
}
h1 {
  display: flex;
  justify-content: center;
  top: 60px;
}
  .card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .card-content {
    text-align: center;
  }
  .card h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .card p {
    font-size: 14px;
  }
/* End - partners */

.partners-logo {
  margin-bottom: 30px;
}

.partners-logo img{
  width: 7%;
}
.partners-logo .logos {
  display: inline-flex;
  justify-content: space-around;
}
.partners-logo .flag {
  width: 13%;
  height: 4%;
}
.partners-logo .flag2 {
  width: 10%;
  height: 4%;
}
.partners-logo .flag3 {
  width: 5%;
  height: 4%;
}
.partners-logo .flag4 {
  width: 10%;
  height: 5%;
}
.partners-logo .flag5 {
  width: 12%;
  height: 5%;
}
.partners-logo .flag6 {
  width: 5%;
  height: 10%;
}
.partners-logo .flag7 {
  width: 5%;
}

/* Start - footer */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-clean {
  padding:50px 0;
  background-color:#f9f9f9;
  color:#000000;
  /* width: 100%; */
  border-top: 1px solid #f1f0f0;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
}
.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:1.125em;
  color: black;
}
.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:1em;
  margin-bottom:0;
  color: black;
}
.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}
.footer-clean ul a:hover {
  opacity:1;
}
.footer-clean .item.social {
  /* text-align:right; */
}
.footer-clean .item.social > a {
  font-size:24px;
  /* width:40px; */
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
}
.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  color: black;
}
.footer-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(70%);
}
.footer-container-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* End - footer */



.projcard-container {
  margin: 7em 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 3em;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}

.projcard-container {
  margin-left: auto;
  margin-right: auto;
  /* width: 800px; */
}

.projcard {
  position: relative;
  width: 700px;
  height: 400px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}
.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}
.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 10%;
  left: 0;
  transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}
.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
  width: 70px;
}
.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}
.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}
.projcard-textbox * {
  position: relative;
}
.projcard-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 24px;
}
.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
}
.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #aa9277; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #aa9277, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #aa9277, transparent 50%); }

.projcard-green .projcard-bar { background-color: #5794ff; }
.projcard-green::before { background-image: linear-gradient(-70deg, #5794ff, transparent 50%); }
.projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #5794ff, transparent 50%); }

.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.projcard-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

/* Start - footer */
.footer-clean {
    display: flex;
    justify-content: center;
    padding:50px 0;
    background-color:#e4e4e4;
    color:#000000;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
  }
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:1.125em;
    color: black;
  }
  .footer-clean ul {
    list-style:none;
    line-height:1.6;
    font-size:1em;
    color: black;
    position: relative;
  }
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    /* margin-right: 100px; */
  }
  .footer-clean ul a:hover {
    opacity:1;
  }
  .footer-clean .item.social {
    text-align:right;
  }
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    color: black;
  }
  .footer-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(70%);
  }
/* End - footer */

/* Start - responsive */
@media (max-width:1700px) {
  .navbar-container .logo img{
    transform: scale(1.4);
  }
  .navbar-container .nav-info ul{
    gap: 2em;
  }
  .navbar-container .nav-info ul li{
    font-size: 1.1em;
  }
  .navbar-container .nav-info ul li a,
  .navbar-container .log-info ul li a{
    letter-spacing: 0.8px;
  }
}
@media (max-width:1500px) {
  .projcard-container {
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    gap: 0em;
  }
}
@media (max-width:1400px) {
  .navbar-container .logo img{
    transform: scale(1.3);
  }
  .navbar-container .nav-info ul{
    gap: 1em;
  }
  .navbar-container .nav-info ul li{
    font-size: 1em;
  }
  .navbar-container .nav-info ul li a,
  .navbar-container .log-info ul li a{
    letter-spacing: 0.4px;
  }
} 
@media (max-width:1300px) {
  .navbar-container .nav-info ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em 6em;
  }
  .buttons #prevBtn {
    top: 50%;
    left: 7%;
  }
}
@media (max-width:1215px) {
  .navbar-container .nav-info ul{
    gap: 1em 4em;
  }
}
@media (max-width:1100px) {
  .navbar-container .logo img{
    transform: scale(1.2);
  }
  .typing-demo{
    font-size: 1.7em;
  }
  .navbar-container .nav-info ul li{
    font-size: 1em;
  }
  .navbar-container .nav-info ul li a,
  .navbar-container .log-info ul li a{
    letter-spacing: 0.2px;
  }
}
@media (max-width:992px) {
  .nav-info-responsive ul{
    height: 30em;
  }
  .navbar-container-responsive{
    justify-content: space-between;
  }
  .burger-menu-open,
  .burger-menu-close{
    margin-left: 1em;
  }
  .log-info-responsive{
    margin-right: 1em;
  }
  .navbar-div{
    display: none;
  }
  .projects-goal .projects-text{
    font-size: 0.95em;
  }
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}
@media (max-width:800px) {
  .typing-demo{
    font-size: 1.5em;
  }
  .buttons #prevBtn,
  .buttons #nextBtn {
    transform: scale(5);
    opacity: 0.25;
  }
  .buttons #prevBtn {
    top: 70%;
    left: 40%;
  }
  .buttons #nextBtn {
    top: 70%;
    right: 40%;
  }
}
@media (max-width:767px) {
  .partniorship-container{
    transform: scale(0.8);
  }
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
  .footer-clean .item.social > a {
    margin-top:10px;
  }
  .footer-clean .item.social {
    text-align:center;
  }
}
@media (max-width:600px) {
  .logo-responsive a img, .logo a img{
    width:101.5px;
  }
  .nav-info-responsive ul{
    top: 6.4em;
  }
  .typing-demo{
    font-size: 1em;
  }
  .projects-goal .projects-text{
    font-size: 0.75em;
  }
  .footer-container-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* @media (max-width:500px) {
  .partniorship-container{
    transform: scale(0.5);
  }
} */







/* Start - რესპონსივის კოდის ეს ნაწილი იყო შუაში გამოკვეტებული, ობოლი ბავშვივით */
/* Media Query for Responsive Design */
@media (max-width: 600px) {
  .projcard-innerbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .mission-section h2 {
    font-size: 1.5rem;
  }
  .mission-section p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}
/* End - რესპონსივის კოდის ეს ნაწილი იყო შუაში გამოკვეტებული */
@media (max-width:400px) {
  .logo-responsive a img, .logo a img{
    width:71.5px;
  }
  .nav-info-responsive ul{
    top: 4.5em;
  }
   .log-info-responsive ul li a{
    font-size: 0.5em;
  }
  .typing-demo{
    font-size: 1em;
  }
  .projects-goal .projects-text{
    font-size: 0.75em;
  }
  .typing-demo {
    display: flex;
    flex-direction: column;
    animation:none;
    border-right: none;
  }
}

@media (min-width:993px) {
.navbar-div-responsive{
  display: none;
}
}
/* End - responsive */


