@font-face {
  font-family: ;
  src: url(fonts/KaterinaAlt-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}



header{
  top: 0;
  z-index: 10000000;
  position: sticky;
}
  /* Start - responsive navbar */
  .navbar-div-responsive{
    display: block;
  }
  .navbar-container-responsive{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  .nav-info-responsive{
    transform: translateX(-100%);
    transition: 300ms;
  }
  .nav-info-responsive ul{
    text-align: center;
    background-color: white;
    position: absolute;
    top: 4.5em;
    padding: 3em 0em;
    width: 100%;
    border-top: #e7e7e7 solid 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;

  }
  .navbar-div-responsive .nav-info-responsive ul li{
    padding-bottom: 1em;
  }

  .navbar-div-responsive .nav-info-responsive ul li,
  .navbar-container-responsive .log-info-responsive ul li{
    list-style: none;
    font-size: 1.2em;
  }
  .navbar-div-responsive .nav-info-responsive ul li a,
.navbar-container-responsive .log-info-responsive ul li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  filter:brightness(125%);
  letter-spacing: 0.8px;
  transition: 100ms;
}
.navbar-div-responsive .nav-info-responsive ul li a:hover,
.navbar-div-responsive .log-info-responsive ul li a:hover {
  text-decoration: underline;
}
.navbar-container-responsive-div{
  width: 8em;
}
.burger-menu-close{
  display: none;
}
  /* End - responsive navbar */

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
}
.navbar-container .logo {
  padding:  1.5em;
  filter: brightness(80%);
  border-radius: 50%;
}
.navbar-container .logo img{
  transform: scale(1.5);
}

.navbar-container .nav-info ul{
  display: flex;
  gap: 3em;
}
.navbar-container .nav-info ul li,
.navbar-container .log-info ul li{
  list-style: none;
  font-size: 1.2em;
}
.navbar-container .nav-info ul li a,
.navbar-container .log-info ul li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  filter:brightness(125%);
  /* text-shadow: 2px 1px 4px rgba(33, 33, 33, 0.84); */
  letter-spacing: 0.8px;
  transition: 100ms;
}
.navbar-container .nav-info ul li a:hover,
.navbar-container .log-info ul li a:hover {
  filter:brightness(95%);
  text-decoration: underline;
}
/* End - navbar */

/* Start - carousel */
  .main-carousel {
    position: relative;
  }
  .carousel {
    width: 100%;
    height: 800px;
  }
  .items {
    width: 100%;
    transition: filter 0.5s ease;
    filter: grayscale(80%);
  }

  .items:hover {
    filter: grayscale(10%);
  }

  .carousel-image {
    width: 100%;
    height: 800px;
      object-fit: cover;
    position: absolute;
    opacity: 0;
    filter: brightness(50%);
    transition: filter 0.3s ease;
  }


  .current {
    opacity: 1;
  }
    
  .buttons a{
    text-decoration: none;
  }
  .buttons #prevBtn,
  .buttons #nextBtn {
      height: 35px;
      width: 35px;
      outline: none;
      border: none;
      cursor: pointer;
      color: white;
      opacity: 0.7;
      position: absolute;
      transform: scale(3);
    }
  .buttons #prevBtn:hover,
  .buttons #nextBtn:hover {
        opacity: 1;
      }
    
  .buttons #prevBtn {
      top: 50%;
      left: 3%;
    }


  .buttons #nextBtn {
      top: 50%;
      right: 3%;
    }
    
   .nav-dots {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
    .dot {
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 50%;
      opacity: 0.5;
      cursor: pointer;
      z-index: 0; 
    }
    .active {
      opacity: 1;
    }
  

.wrapper {
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-weight: bolder;
    animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
    overflow: hidden;
    font-size: 5em;
    width: 37.5ch;
    white-space: nowrap;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  
  /* End - carousel */



  /* .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6FA141;
    padding: 10em;
  }
  .about-container h1 {
    color: white;
    width: 50%;
    text-align: center;
  }
  .about-container .about-text {
    width: 50%;
    color: white;
    text-align: center;
    /* font-size: 1.25em; */
  /* } */

/* Start - more less */
  #myBtn {
    background-color: #6FA141;
    border: none;
    font-size: larger;
    font-weight: bolder;
    font-size: 20px;
  }

  #myBtn a {
    color: #F7931E;
    text-decoration: none;
  }
/* End - more less */


.goals-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
  width: 100%;
}



.projects-goal {
  display: flex;
  width: 50%;
  font-size: 20px;
}

.projects-goal .projects-text {
  text-align: center;
  color: black;
}

.text-underline {
  display: flex;
  justify-content: center;
  /* background-color: #aa9277; */
  background-color: #5794ff;
  border: 1px solid #5794ff;
  width: 39.1%;
  height: 30px;
}

.container-underlined {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


/* Start - partners */
.partners-header {
  display: flex;
  justify-content: center;
  padding: 4em;
}
.partniorship-container {
  display: flex;
  justify-content: center;
  border: 1px solid white;
}

h1 {
  display: flex;
  justify-content: center;
  top: 60px;
}
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 1em 1em 5em 1em;
    padding: 10px;
  }


  .card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .card-content {
    text-align: center;
  }
  .card h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .card p {
    font-size: 14px;
  }
/* End - partners */

/* Start - footer */
  .footer-clean {
    padding:50px 0;
    background-color:#aa9277;
    color:#000000;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:18px;
    color: white;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:16px;
    margin-bottom:0;
    color: white;
  }
  
  


  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
  }
  

  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    color: white;
  }



.footer-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(70%);
}




/* End - footer */

  @media (max-width:1700px) {
    .navbar-container .logo img{
      transform: scale(1.4);
    }
    .navbar-container .nav-info ul{
      gap: 2em;
    }
    .navbar-container .nav-info ul li{
      font-size: 1.1em;
    }
    .navbar-container .nav-info ul li a,
    .navbar-container .log-info ul li a{
      letter-spacing: 0.8px;
    }
  }
  @media (max-width:1400px) {
    .navbar-container .logo img{
      transform: scale(1.3);
    }
    .navbar-container .nav-info ul{
      gap: 1em;
    }
    .navbar-container .nav-info ul li{
      font-size: 1em;
    }
    .navbar-container .nav-info ul li a,
    .navbar-container .log-info ul li a{
      letter-spacing: 0.4px;
    }
  } 
  @media (max-width:1100px) {
    .navbar-container .logo img{
      transform: scale(1.2);
    }
    .navbar-container .nav-info ul{
      gap: 0.8em;
    }
    .navbar-container .nav-info ul li{
      font-size: 1em;
    }
    .navbar-container .nav-info ul li a,
    .navbar-container .log-info ul li a{
      letter-spacing: 0.2px;
    }
  }
  @media (max-width:992px) {
    .navbar-container-responsive{
      justify-content: space-between;
    }
    .burger-menu-open,
    .burger-menu-close{
      margin-left: 1em;
    }
    .log-info-responsive{
      margin-right: 1em;
    }
    .navbar-div{
      display: none;
    }
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }

  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
    .footer-clean .item.social > a {
      margin-top:10px;
    }
    .footer-clean .item.social {
      text-align:center;
    }
  }
  @media (min-width:993px) {

  .navbar-div-responsive{
    display: none;
  }
}



/* about */

#about-info {
  padding: 80px 0;
  color: black;
  display: flex;
  justify-content: center;
  
}

.container-about {
  border: 1px solid rgb(145, 145, 216);
  background-color: rgb(145, 145, 216);
  color: white;
  border-radius: 10px;
  width: 300px;
}


.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}


.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: black;
}


.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  left: 2%;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links .active-link::{
  width: 30%;
}

.tab-items ul li {
  list-style: none;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.tab-items ul li span span {
  color: #b54769;
  font-size: 14px;
}

.tab-items {
  display: none;
}

.tab-items.active-tab {
  display: block;
}

/*  */

/* Demo Code: */
body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #333;
  font-size: 14px;
}
.projcard-container {
  margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}
.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}
.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}
.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}
.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
  width: 70px;
}
.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}
.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}
.projcard-textbox * {
  position: relative;
}
.projcard-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 24px;
}
.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
}
.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #aa9277; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #aa9277, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #aa9277, transparent 50%); }

.projcard-green .projcard-bar { background-color: #5794ff; }
.projcard-green::before { background-image: linear-gradient(-70deg, #5794ff, transparent 50%); }
.projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #5794ff, transparent 50%); }

.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.projcard-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}