* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

header{
  top: 0;
  z-index: 10000000;
  position: sticky;
}
  /* Start - responsive navbar */
  .navbar-div-responsive{
    display: block;
  }
  .navbar-container-responsive{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  .nav-info-responsive{
    transform: translateX(-100%);
    transition: 300ms;
  }
  .nav-info-responsive ul{
    text-align: left;
    background-color: white;
    position: absolute;
    top: 7.6em;
    padding: 3em 0em;
    width: 100%;
    border-top: #e7e7e7 solid 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
  }
  .navbar-div-responsive .nav-info-responsive ul li{
    padding-bottom: 1em;
    padding-left: 5em;
  }
  .navbar-div-responsive .nav-info-responsive ul li,
  .navbar-container-responsive .log-info-responsive ul li{
    list-style: none;
    font-size: 1.2em;
  }
  .navbar-div-responsive .nav-info-responsive ul li a,
.navbar-container-responsive .log-info-responsive ul li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  filter:brightness(125%);
  letter-spacing: 0.8px;
  transition: 100ms;
}
.navbar-div-responsive .nav-info-responsive ul li a:hover,
.navbar-div-responsive .log-info-responsive ul li a:hover {
  text-decoration: underline;
}
.navbar-container-responsive-div{
  width: 5em;
}
.burger-menu-close{
  display: none;
}
#myBtn123 {
  background-color: #ffffff;
  border: none;
  color: #000000;
}
#myBtn123:hover{
  background-color: #ffffff;
  border: none;
  color: #000000;
}
  /* End - responsive navbar */


/* Start - log in form */
    
    
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
 
.log-info p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.log-info span {
  font-size: 12px;
}
.log-info a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
button {
  border-radius: 20px;
  border: solid 1px #484f52;
  background-color: #484f52;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
button:active {
  transform: scale(0.95);
}
button:focus {
  outline: none;
}
button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}
form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin-top: 8px;
  width: 100%;
}
.form-container input{
margin: 10px;
}
.container {
 top: 190px;
 background-color: #ffffff;
 border-radius: 10px;
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
 0 10px 10px rgba(0,0,0,0.22);
 position: relative;
 overflow: hidden;
 height: 500px;
 width: 768px;
 max-width: 100%;
 min-height: 380px;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  border: none;
  background: #0b33b5;
  background: -webkit-linear-gradient(to right, #858585, #86888e);
  background: linear-gradient(to right, #525252, #6c7072);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
    transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
/* End - Log in form */



/* pop-up */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* CSS */
.button-24 {
  margin-top: 10px;
  width: 200px;
  height: 65px;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: 0.2s;
}


.button-24:hover {
  background-color: #de433e;
}


.button-24 a{
  text-decoration: none;
  color: white;
  }

  .button-24 a:hover {
    color:white;
  }

  .button-25 {
    margin-top: 10px;
    width: 200px;
    height: 65px;
    background: rgb(84, 183, 84);
    border: 1px solid rgb(84, 183, 84);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    transition: 0.2s;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    touch-action: manipulation;
    vertical-align: middle;
  }

  .button-25:hover {
  background-color: rgb(78, 172, 78);
}


.button-25 a{
  text-decoration: none;
  color: white;
  }

  .button-25 a:hover {
    color:white;
  }



#myBaton {
  background-color: #ffffff;
  border: none;
  color: #000000;
}

/* end popup */





  
.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
}
.navbar-container .logo {
  padding:  1.5em;
  filter: brightness(80%);
  border-radius: 50%;
}
.navbar-container .logo img{
  transform: scale(1.5);
}
.logo-responsive a img, .logo a img{
  width:100px;
}
.navbar-container .nav-info ul{
  display: flex;
  gap: 3em;
}
.navbar-container .nav-info ul li,
.navbar-container .log-info ul li{
  list-style: none;
  font-size: 1.2em;
}
.navbar-container .nav-info ul li a,
.navbar-container .log-info ul li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  filter:brightness(125%);
  /* text-shadow: 2px 1px 4px rgba(33, 33, 33, 0.84); */
  letter-spacing: 0.8px;
  transition: 100ms;
}
.navbar-container .log-info ul li a{
  padding-right: 1em;
}
.navbar-container .nav-info ul li a:hover,
.navbar-container .log-info ul li a:hover {
  filter:brightness(95%);
  text-decoration: underline;
}
/* header end */


/* course card start */


#more {
  display: none;
}


.course-about {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(187, 187, 187);
  background-color: rgb(187, 187, 187);
  padding-bottom: 11.5em;
}



.course-text {
  text-align: center;
  width: 60%;
  text-align:justify;
  color: white;
  padding-top: 10em;
} 

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* read more section */


p {
  font-size: 1.5em;
  width: 100%;
  line-height: 1.3;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

#myBtn {
  border: none;
  background-color: #ffaf55;
  width: 200px;
  height: 65px;
  border-radius: 7px;
  transition: 0.2s;
    font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  font-size: medium;
  text-align: center;
  justify-content: center;
}

#myBtn:hover {
  color: white;
  background-color: #eba24e;
}

/* main page/accordion */
/* .accordion-container{
  padding: 40px;
  width: 30rem;
}

.accordion-container h2 {
  font-size: 28px;
  color: rgb(72, 72, 72);
  text-align: center;
}

.accordion .accordion-item {
  margin-top: 2px;
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #5794ff;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #5794ff;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #5794ff;
  border: 1px solid #5794ff;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  margin: 40px;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: -40px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
  
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
  
}
.accordion button[aria-expanded='true'] {
  color: #5794ff;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 20em;
  transition: all 200ms linear;
  will-change: opacity, max-height;

}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content ul {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .accordion-content ul li{
  list-style: none;
}

#showContentLink {
  text-decoration: none;
  color: black;
}


.hidden {
  display: none;
}


.visible {
  display: block;
}


.hidden  {
  position: absolute;
  top: 67%;
  margin-left: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  border-radius: 20px;
}  */





/* end accordion */


h1 {
  font-size: 2.5rem;

}

.accordion {
  width: 25%;
  max-width: 300px;
  margin-top: 80px;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/* @media (max-width: 767px) {
  html {
    font-size: 14px;
  }
} */





/* Start - footer */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-clean {
  padding:50px 0;
  background-color:#f9f9f9;
  color:#000000;
  border-top: 1px solid #f1f0f0;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
}
.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:1.125em;
  color: black;
}
.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:1em;
  margin-bottom:0;
  color: black;
}
.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}
.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social > a {
  font-size:24px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
}
.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  color: black;
}
.footer-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(70%);
}
.footer-container-div{
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-clean {
    display: flex;
    justify-content: center;
    padding:50px 0;
    background-color:#e4e4e4;
    color:#000000;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(62, 62, 62, 0.3) 0px 8px 16px -8px;
  }
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:1.125em;
    color: black;
  }
  .footer-clean ul {
    list-style:none;
    line-height:1.6;
    font-size:1em;
    color: black;
    position: relative;
  }
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  .footer-clean ul a:hover {
    opacity:1;
  }
  .footer-clean .item.social {
    text-align:right;
  }
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    color: black;
  }
  .footer-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(70%);
  }
/* End - footer */

/* Start - responsive */
/* Start - responsive */
@media (max-width:1700px) {
  .navbar-container .logo img{
    transform: scale(1.4);
  }
  .navbar-container .nav-info ul{
    gap: 2em;
  }
  .navbar-container .nav-info ul li{
    font-size: 1.1em;
  }
  .navbar-container .nav-info ul li a,
  .navbar-container .log-info ul li a{
    letter-spacing: 0.8px;
  }
  .footer-container-div{
    width: 1200px;
  }
}
@media (max-width:1500px) {
  .projcard-container {
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    gap: 0em;
  }
}
@media (max-width:1400px) {
  .navbar-container .logo img{
    transform: scale(1.3);
  }
  .navbar-container .nav-info ul{
    gap: 1em;
  }
  .navbar-container .nav-info ul li{
    font-size: 1em;
  }
  .navbar-container .nav-info ul li a,
  .navbar-container .log-info ul li a{
    letter-spacing: 0.4px;
  }
} 
@media (max-width:1300px) {
  .navbar-container .nav-info ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em 6em;
  }
  .buttons #prevBtn {
    top: 50%;
    left: 7%;
  }
  .footer-container-div{
    width: 950px;
  }
}
@media (max-width:1215px) {
  .navbar-container .nav-info ul{
    gap: 1em 4em;
  }
}
@media (max-width:1100px) {
  .navbar-container .logo img{
    transform: scale(1.2);
  }
  .typing-demo{
    font-size: 1.7em;
  }
  .navbar-container .nav-info ul li{
    font-size: 1em;
  }
  .navbar-container .nav-info ul li a,
  .navbar-container .log-info ul li a{
    letter-spacing: 0.2px;
  }
}
@media (max-width:992px) {
  .nav-info-responsive ul{
    top: 6em;
    height: 30em;
  }
  .navbar-container-responsive{
    justify-content: space-between;
  }
  .burger-menu-open,
  .burger-menu-close{
    margin-left: 1em;
  }
  .log-info-responsive{
    margin-right: 1em;
  }
  .navbar-div{
    display: none;
  }
  .projects-goal .projects-text{
    font-size: 0.95em;
  }
  .footer-clean .item.social > a {
    margin-top:40px;
  }
  .footer-container-div{
    width: initial;
  }
}
@media (max-width:800px) {
  .goal {
    font-weight: bold;
    font-size: 1.6em;
  }
  .typing-demo{
    font-size: 1.5em;
  }
  .buttons #prevBtn,
  .buttons #nextBtn {
    transform: scale(5);
    opacity: 0.25;
  }
  .buttons #prevBtn {
    top: 70%;
    left: 40%;
  }
  .buttons #nextBtn {
    top: 70%;
    right: 40%;
  }
  .partniorship-container{
    transform: scale(0.8);
  }
}
@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
  .footer-clean .item.social > a {
    margin-top:10px;
  }
  .footer-clean .item.social {
    text-align:center;
  }
}
@media (max-width:600px) {
  .logo-responsive a img, .logo a img{
    width:101.5px;
  }
  .nav-info-responsive ul{
    top: 6.4em;
  }
  .typing-demo{
    font-size: 1em;
  }
  .projects-goal .projects-text{
    font-size: 0.75em;
  }
  .footer-container-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .partniorship-container{
    display: none;
  }
  .mission-section h2 {
    font-size: 1.5rem;
  }
  .mission-section p {
    font-size: 1rem;
  }
  .partniorship-container-responsive{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .projcard-img-responsive{
    box-shadow: 0.3em 0.3em 0.3em rgb(159, 159, 159);
  }
  .partniorship-container-div,
  .partniorship-container-div a,
  .projcard-title-responsive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projcard-title-responsive a{
    color: white;
  }
  .projcard-img-responsive{
    width: 80%;
  }
  .projcard-title-responsive{
    position: absolute;
    color: white;
    background-color: rgba(128, 128, 128, 0.702);
    width: 50%;
  }
  .projcard-subtitle-responsive {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    color: white;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}
@media (max-width:400px) {
  .goal {
    font-weight: bold;
    font-size:initial;
  }
  .nav-info-responsive ul li a{
    font-size: 0.7em;
  }
  .navbar-div-responsive .nav-info-responsive ul li{
    padding-bottom: 1em;
    padding-left: 1em;
  }
  .logo-responsive a img, .logo a img{
    width:71.5px;
  }
  .nav-info-responsive ul{
    top: 4.5em;
  }
  .log-info-responsive ul li a{
    font-size: 0.5em;
  }
  .log-info-responsive{
    margin-right: 0.1em;
  }
 
  .projects-goal .projects-text{
    font-size: 0.75em;
  }
  .typing-demo {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    animation:none;
    border-right: none;
  }
}
@media (max-width:340px) {
  .nav-info-responsive ul{
    top: 3em;
  } 
  .typing-demo {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
    overflow: hidden;
    width: 19.5ch;
    white-space: nowrap;
    border-right: 1px solid;
    font-family: monospace;
    font-size: 0.8em;
  }
  .projcard-img-responsive{
    width: 90%;
  }
  .buttons #prevBtn,
  .buttons #nextBtn {
    transform: scale(3);
  }
  .nav-dots {
    width: 150px;
  }
  .dot {
    width: 10px;
    height: 10px;
    }
  .logo-responsive a img, .logo a img{
    width:51.5px;
  }
  .goal{
    font-size: 0.9em;
  }
  .mission-section .mission-text p{
    font-size: 0.75em;
  }
  .projcard-title-responsive{
    position: absolute;
    color: white;
    background-color: rgba(128, 128, 128, 0.702);
    width: 70%;
  }
  .projcard-title-responsive p,
  .projcard-title-responsive a{
    font-size: 0.75em;
  }
}
@media (min-width:993px) {
.navbar-div-responsive{
  display: none;
}
}
/* End - responsive */





