<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>არტეფაქტი</title>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
    background-color: #549ab8d4;
  }
  main{ 
    margin:  1em 0;
    display: flex;
    justify-content: center;
  }
 
 /* Start - log in form */
    
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
 
 p {
   font-size: 14px;
   font-weight: 100;
   line-height: 20px;
   letter-spacing: 0.5px;
   margin: 20px 0 30px;
 }
 span {
   font-size: 12px;
 }
 a {
   color: #333;
   font-size: 14px;
   text-decoration: none;
   margin: 15px 0;
 }
 button {
   border-radius: 20px;
   border: solid 1px #4184a1;
   background-color: #4184a1;
   color: #FFFFFF;
   font-size: 12px;
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: transform 80ms ease-in;
 }
 button:active {
   transform: scale(0.95);
 }
 button:focus {
   outline: none;
 }
 .ghost {
   background-color: #FFFFFF;
   border-radius: 2em;
   padding: 1em;
   border-color: #FFFFFF;
 }
 form {
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 50px;
   height: 100%;
   text-align: center;
 }
 input {
   background-color: #eee;
   border: none;
   padding: 12px 15px;
   margin-top: 8px;
   width: 100%;
 }
.form-container input{
margin: 10px;
}
 .container {
  margin: 60px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 540px;
 }
 .form-container {
   position: absolute;
   top: 0;
   height: 100%;
 }
 .sign-in-container {
   left: 0;
   width: 50%;
   z-index: 2;
 }
 .overlay-container {
   position: absolute;
   top: 0;
   left: 50%;
   width: 50%;
   height: 100%;
   overflow: hidden;
   transition: transform 0.6s ease-in-out;
   z-index: 100;
 }
 
 .container.right-panel-active .overlay-container{
   transform: translateX(-100%);
 }
 
 .overlay {
   border: none;
   background: #0b33b5;
   background: -webkit-linear-gradient(to right, #4c32db, #071d7b);
   background: linear-gradient(to right, #417ea19b, #1183c4);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0 0;
   color: #FFFFFF;
   position: relative;
   left: -100%;
   height: 100%;
   width: 200%;
     transform: translateX(0);
   transition: transform 0.6s ease-in-out;
 }
 
 .overlay-panel {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   top: 0;
   height: 100%;
   width: 50%;
   transform: translateX(0);
   transition: transform 0.6s ease-in-out;
 }
 .overlay-panel span,
 .overlay-panel span > a{
  font-weight: bold;
  font-size: 1.1em;
 }
 .overlay-panel span > a:hover{
  color: white;
 }
 .overlay-right {
   right: 0;
   transform: translateX(0);
 }
 .container.right-panel-active .overlay-right {
   transform: translateX(20%);
 }
 .return-to-home-page{
  z-index: 10000;
 }
 .alert {
    padding: 1em;
    text-align: center;
    background-color:lightcoral;
    border: 1px solid darkred;
 }
 /* End - Log in form */

</style>
</head>
<body>
    <main>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <% if(errors != "") { %>
                    <% errors.forEach((item) => { %>
                        <div class="alert alert-danger">
                           <strong> <%- item %></strong>
                        </div>
                    <% }); %>
                <% } %>
                <form action="/register" method="POST">
                    <h1>Create Account</h1>
                    <label for="fullName">Full name:</label>
                    <input type="text" id="name" name="fullName" placeholder="Name" required/>
                    
                    <label for="email">Email address:</label>
                    <input type="email" id="email" name="email" placeholder="Email" required/>
                    
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Password" required/>
                    
                    <label for="passwordConfirmation">Confirm password:</label>
                    <input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="Confirm Password" required/>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <span>Return to <a href="#" target="_blank">Home Page</a></span>
                        <a class="ghost" href="/login">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>
